.p-suru {
    background-image: url('https://assets.ubuntu.com/v1/a9dab044-suru-right.svg'), linear-gradient(266deg, #54cf7d, #538a9b);
    color:#fff;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: auto 100%, cover;
}
